.container {
  width: 100%;
  height: 100%;
  min-height: 1050px; }
  .container.dark {
    background-color: #1b1e21; }
    .container.dark.purple {
      color: #947CB0;
      border-color: #947CB0; }
      .container.dark.purple .circle {
        background-color: #947CB0;
        border-color: #947CB0; }
    .container.dark.green {
      color: #66CC99;
      border-color: #66CC99; }
      .container.dark.green .circle {
        background-color: #66CC99;
        border-color: #66CC99; }
    .container.dark.red {
      color: #D64541;
      border-color: #D64541; }
      .container.dark.red .circle {
        background-color: #D64541;
        border-color: #D64541; }
    .container.dark.blue {
      color: #5C97BF;
      border-color: #5C97BF; }
      .container.dark.blue .circle {
        background-color: #5C97BF;
        border-color: #5C97BF; }
  .container.light {
    background-color: #F2F1EF; }
    .container.light.purple {
      color: #674172;
      border-color: #674172; }
      .container.light.purple .circle {
        background-color: #674172;
        border-color: #674172; }
    .container.light.green {
      color: #1E824C;
      border-color: #1E824C; }
      .container.light.green .circle {
        background-color: #1E824C;
        border-color: #1E824C; }
    .container.light.red {
      color: #96281B;
      border-color: #96281B; }
      .container.light.red .circle {
        background-color: #96281B;
        border-color: #96281B; }
    .container.light.blue {
      color: #446CB3;
      border-color: #446CB3; }
      .container.light.blue .circle {
        background-color: #446CB3;
        border-color: #446CB3; }

.content {
  width: 90%;
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  padding: 20px; }
  .content .top {
    display: flex;
    flex-direction: column; }
    .content .top .title {
      font-size: 23pt;
      font-weight: 400; }
    .content .top .sub-title {
      font-size: 14pt;
      font-weight: 100; }
    .content .top .top-row {
      display: flex;
      flex-direction: row;
      flex: 1;
      margin: 15px 0px 25px; }
      .content .top .top-row .item {
        flex: 1; }
        .content .top .top-row .item.center {
          text-align: center; }
        .content .top .top-row .item.right {
          text-align: right; }
  .content .bottom {
    display: flex;
    flex-direction: row; }
    .content .bottom .header {
      font-size: 20pt;
      text-transform: uppercase;
      border-bottom: 2px solid; }
    .content .bottom .left, .content .bottom .right {
      display: flex;
      flex-direction: column; }
      .content .bottom .left .segment, .content .bottom .right .segment {
        display: flex;
        flex-direction: column; }
        .content .bottom .left .segment .row, .content .bottom .right .segment .row {
          display: flex;
          flex-direction: row;
          align-items: space-between; }
          .content .bottom .left .segment .row .circles, .content .bottom .right .segment .row .circles {
            display: flex;
            flex-direction: row;
            flex: 1;
            justify-content: flex-end; }
            .content .bottom .left .segment .row .circles .circle, .content .bottom .right .segment .row .circles .circle {
              height: 14px;
              width: 14px;
              border-radius: 50%;
              margin: 3px;
              border: 2px solid; }
              .content .bottom .left .segment .row .circles .circle.empty, .content .bottom .right .segment .row .circles .circle.empty {
                background: transparent; }
    .content .bottom .left {
      flex: 4;
      margin-right: 50px; }
    .content .bottom .right {
      flex: 3; }

.content {
  position: relative; }
  .content::before, .content::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%; }

.border {
  transition: color 0.5s; }
  .border::before, .border::after {
    border: 2px solid transparent;
    width: 0;
    height: 0; }
  .border::before {
    top: 0;
    left: 0; }
  .border::after {
    top: 0;
    left: 0; }
  .border.animate::before, .border.animate::after {
    width: 100%;
    height: 100%; }
  .border.animate::before {
    transition: width 0.5s ease-out, height 0.5s ease-out 0.5s; }
  .border.animate::after {
    transition: border-color 0s ease-out 0.5s, width 0.5s ease-out 1s, height 0.5s ease-out 1.5s; }
  .border.animate::before {
    border-top-color: inherit;
    border-right-color: inherit; }
  .border.animate::after {
    border-bottom-color: inherit;
    border-left-color: inherit;
    transition: height 0.5s ease-out, width 0.5s ease-out 0.5s; }

.radio-container {
  display: flex;
  justify-content: flex-end; }
  .radio-container .radio {
    display: block;
    position: relative;
    height: 30px;
    width: 30px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 15px; }
    .radio-container .radio:first-child {
      margin-top: 7px; }
  .radio-container .radio input {
    position: absolute;
    opacity: 0; }
  .radio-container .radio-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: .3s; }
    .radio-container .radio-button:hover {
      transform: scale(1.1); }
    .radio-container .radio-button:active {
      filter: brightness(0.85); }

.switch-container {
  display: flex;
  justify-content: flex-end; }
  .switch-container .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 20px 0px;
    transform: rotate(90deg); }
    .switch-container .switch input {
      display: none; }
      .switch-container .switch input:checked + .slider {
        background-color: #F2F1EF; }
      .switch-container .switch input:focus + .slider {
        box-shadow: 0 0 1px #F2F1EF; }
      .switch-container .switch input:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px); }
    .switch-container .switch .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: #1b1e21;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 34px; }
      .switch-container .switch .slider:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%; }

.light .slider:before {
  background-color: #F2F1EF; }

.light .radio-button.purple {
  background-color: #674172; }

.light .radio-button.green {
  background-color: #1E824C; }

.light .radio-button.red {
  background-color: #96281B; }

.light .radio-button.blue {
  background-color: #446CB3; }

.dark .slider:before {
  background-color: #1b1e21; }

.dark .radio-button.purple {
  background-color: #947CB0; }

.dark .radio-button.green {
  background-color: #66CC99; }

.dark .radio-button.red {
  background-color: #D64541; }

.dark .radio-button.blue {
  background-color: #5C97BF; }
