$main-dark:         #1b1e21;
$main-light:        #F2F1EF;
$purple-light:      #674172;
$green-light:       #1E824C;
$red-light:         #96281B;
$blue-light:        #446CB3;
$purple-dark:       #947CB0;
$green-dark:        #66CC99;
$red-dark:          #D64541;
$blue-dark:         #5C97BF;

.container {
  width: 100%;
  height: 100%;
  min-height: 1050px;

  &.dark {
    background-color: $main-dark;

    &.purple {
      color: $purple-dark;
      border-color: $purple-dark;

      .circle {
        background-color: $purple-dark;
        border-color: $purple-dark;
      }
    }

    &.green {
      color: $green-dark;
      border-color: $green-dark;

      .circle {
        background-color: $green-dark;
        border-color: $green-dark;
      }
    }

    &.red {
      color: $red-dark;
      border-color: $red-dark;

      .circle {
        background-color: $red-dark;
        border-color: $red-dark;
      }
    }

    &.blue {
      color: $blue-dark;
      border-color: $blue-dark;

      .circle {
        background-color: $blue-dark;
        border-color: $blue-dark;
      }
    }
  }

  &.light {
    background-color: $main-light;

    &.purple {
      color: $purple-light;
      border-color: $purple-light;

      .circle {
        background-color: $purple-light;
        border-color: $purple-light;
      }
    }

    &.green {
      color: $green-light;
      border-color: $green-light;

      .circle {
        background-color: $green-light;
        border-color: $green-light;
      }
    }

    &.red {
      color: $red-light;
      border-color: $red-light;

      .circle {
        background-color: $red-light;
        border-color: $red-light;
      }
    }

    &.blue {
      color: $blue-light;
      border-color: $blue-light;

      .circle {
        background-color: $blue-light;
        border-color: $blue-light;
      }
    }
  }
}

.content {
  width: 90%;
  max-width: 950px;
  margin: 0 auto;
  display: flex;
  flex-direction: column;
  // border: 1px solid;
  padding: 20px;

  .top {
    display: flex;
    flex-direction: column;

    .title {
      font-size: 23pt;
      font-weight: 400;
    }

    .sub-title {
      font-size: 14pt;
      font-weight: 100;
    }

    .top-row {
      display: flex;
      flex-direction: row;
      flex: 1;
      margin: 15px 0px 25px;

      .item {
        flex: 1;

        &.center {
          text-align: center;
        }

        &.right {
          text-align: right;
        }
      }
    }
  }

  .bottom {
    display: flex;
    flex-direction: row;

    .header {
      font-size: 20pt;
      text-transform: uppercase;
      border-bottom: 2px solid;
    }

    .left, .right {
      display: flex;
      flex-direction: column;

      .segment {
        display: flex;
        flex-direction: column;

        .row {
          display: flex;
          flex-direction: row;
          align-items: space-between;

          .circles {    
            display: flex;
            flex-direction: row;
            flex: 1;
            justify-content: flex-end;

            .circle {
              height: 14px;
              width: 14px;
              border-radius: 50%;
              margin: 3px;
              border: 2px solid;

              &.empty {
                background: transparent;
              }
            }
          }
        }
      }
    }

    .left {
      flex: 4;
      margin-right: 50px;
    }

    .right {
      flex: 3;
    }
  }
}

.content {
  position: relative;

  &::before, &::after {
    box-sizing: inherit;
    content: '';
    position: absolute;
    width: 100%;
    height: 100%;
  }
}

.border {
  transition: color 0.5s;

  &::before, &::after {
    border: 2px solid transparent;
    width: 0;
    height: 0;
  }

  &::before {
    top: 0;
    left: 0;
  }
  
   &::after {
    top: 0;
    left: 0;
  }

  &.animate {
    &::before, &::after {
      width: 100%;
      height: 100%;
    }

    &::before {
      transition: width 0.5s ease-out, height 0.5s ease-out 0.5s;
    }

    &::after {
      transition: border-color 0s ease-out 0.5s, width 0.5s ease-out 1s, height 0.5s ease-out 1.5s;
    }


    &::before {
      border-top-color: inherit;
      border-right-color: inherit;
    }

    &::after {
      border-bottom-color: inherit;
      border-left-color: inherit;
      transition: height 0.5s ease-out, width 0.5s ease-out 0.5s;
    }
  }
}

.radio-container {
  display: flex;
  justify-content: flex-end;

  .radio {
    display: block;
    position: relative;
    height: 30px;
    width: 30px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    margin: 15px;

    &:first-child {
      margin-top: 7px;
    }
  }

  .radio input {
    position: absolute;
    opacity: 0;
  }

  .radio-button {
    position: absolute;
    top: 0;
    left: 0;
    height: 30px;
    width: 30px;
    border-radius: 50%;
    transition: .3s;

    &:hover {
      transform: scale(1.1);
    }

    &:active {
      filter: brightness(.85);
    }
  }
}

.switch-container {
  display: flex;
  justify-content: flex-end;

  .switch {
    position: relative;
    display: inline-block;
    width: 60px;
    height: 34px;
    margin: 20px 0px;
    transform: rotate(90deg);

    input {
      display:none;

      &:checked + .slider {
        background-color: $main-light;
      }

      &:focus + .slider {
        box-shadow: 0 0 1px $main-light;
      }

      &:checked + .slider:before {
        -webkit-transform: translateX(26px);
        -ms-transform: translateX(26px);
        transform: translateX(26px);
      }
    }

    .slider {
      position: absolute;
      cursor: pointer;
      top: 0;
      left: 0;
      right: 0;
      bottom: 0;
      background-color: $main-dark;
      -webkit-transition: .4s;
      transition: .4s;
      border-radius: 34px;
      
      &:before {
        position: absolute;
        content: "";
        height: 26px;
        width: 26px;
        left: 4px;
        bottom: 4px;
        -webkit-transition: .4s;
        transition: .4s;
        border-radius: 50%;
      }
    }
  }
}

.light {
  .slider:before {
    background-color: $main-light;
  }
  .radio-button.purple {
    background-color: $purple-light;
  }
  .radio-button.green {
    background-color: $green-light;
  }
  .radio-button.red {
    background-color: $red-light;
  }
  .radio-button.blue {
    background-color: $blue-light;
  }
}

.dark {
  .slider:before {
    background-color: $main-dark;
  }
  .radio-button.purple {
    background-color: $purple-dark;
  }
  .radio-button.green {
    background-color: $green-dark;
  }
  .radio-button.red {
    background-color: $red-dark;
  }
  .radio-button.blue {
    background-color: $blue-dark;
  }
}