$main-dark:         #22313F;
$main-light:        #F2F1EF;
$purple-light:      #674172;
$green-light:       #1E824C;
$red-light:         #96281B;
$blue-light:        #446CB3;
$purple-dark:       #947CB0;
$green-dark:        #66CC99;
$red-dark:          #D64541;
$blue-dark:         #5C97BF;

.container {
  width: 100%;
  height: 100vh;

  &.dark {
    background-color: $main-dark;

    .square {
      &.purple {
        background-color: $purple-dark;
      }

      &.green {
        background-color: $green-dark;
      }

      &.red {
        background-color: $red-dark;
      }

      &.orange {
        background-color: $blue-dark;
      }
    }
  }

  &.light {
    background-color: $main-light;

    .square {
      &.purple {
        background-color: $purple-light;
      }

      &.green {
        background-color: $green-light;
      }

      &.red {
        background-color: $red-light;
      }

      &.orange {
        background-color: $blue-light;
      }
    }
  }
}

.square-container {
  width: 100%;
  max-width: 700px;
  margin: 0 auto;
  display: flex;
  flex-wrap: wrap;

  .square {
    width: 50%;
    max-width: 350px;
    height: 350px;
  }
}

.switch-container {
  display: flex;
  justify-content: flex-end;
}

.switch {
  position: relative;
  display: inline-block;
  width: 60px;
  height: 34px;
  margin: 10px;
}

.switch input {
  display:none;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: $main-dark;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 34px;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  -webkit-transition: .4s;
  transition: .4s;
  border-radius: 50%;
}

input:checked + .slider {
  background-color: $main-light;
}

input:focus + .slider {
  box-shadow: 0 0 1px $main-light;
}

input:checked + .slider:before {
  -webkit-transform: translateX(26px);
  -ms-transform: translateX(26px);
  transform: translateX(26px);
}